@charset "utf-8";

:root{
    --main-color: orangered;
    --active-color: rgb(255, 145, 0);
}


menu a{
    padding: 20px;
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.445);
}

menu ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
}

.active{
    background-color: var(--active-color);
    border: 3px solid rgba(7, 7, 7, 0.493);
}

.inactive{
    text-decoration: none;
    background-color: var(--main-color);
    border: none;
}